.cell{
  border: 1px solid #777;
  height: 24px;
  width: 24px;
  margin: -1px -1px 0px 0px;
  display:inline-block;
  text-align: center;
  vertical-align: top;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}
div{
    padding: 0px;
    margin: 0px;
}